.header {
    width: 1366px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #50CAFF;
    color: white;
    display: flex;
  

    &__logoSection {
        width: 190px;
        height: 100%;
        background: #003B72;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-weight: 400;
        font-size: 14px;
    }

    &__wrapper {
        box-sizing: border-box;
        height: 100%;
        flex-grow: 1;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__title {
        font-size: 28px;
        font-weight: 400;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }



}